@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
scroll-behavior: smooth;
}

body {
margin: 0;
background-color: #ffffff;
}